@media only screen and (max-width: 1025px) {
    .container {
        padding: 0 20px;
    }

    .articles_blog_section {
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media only screen and (max-width: 835px) {
    .container {
        padding: 0 20px;
    }

    .first_section .container {
        padding-top: 10px;
        padding-bottom: 15px;
    }

    .catalog_first_block img[src='images/banner_super_sale.png'] {
        width: 0;
        height: 0;
    }


    .catalog_second_block_head div ul li {
        min-width: 0;
    }

    .catalog_second_block_head p {
        margin-top: 10px;
    }

    .summer_collection .container {
        flex-direction: column;
        gap: 40px;
        align-items: center;
    }

    .pre_footer .container article:last-of-type {
        margin-right: 40px;
    }

    .pre_footer .container article:first-of-type:after,
    .pre_footer .container article:nth-of-type(2):after {
        left: 20%;
    }

    .contacts_part_pre_footer .container {
        gap: 10px;
    }

    .pre_footer_phone:before {
        width: 22px;
    }
}

@media only screen and (max-width: 821px) {
    .container {
        padding: 0 15px;
    }

    .contacts_part_pre_footer .container {
        gap: 5px;
    }

    .cards_of_items article {
        width: 257px;
    }
}

@media only screen and (max-width: 801px) {
    .container {
        padding: 0 15px;
    }

    .catalog .container {
        gap: 20px;
    }

    .first_section .container {
        padding-top: 20px;
    }

    .main_picture {
        display: flex;
        justify-content: center;
        align-items: center;
    }


    .first_section .container {
        display: block;
    }

    .pre_footer .container {
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .pre_footer .container article:first-of-type,
    .pre_footer .container article:nth-of-type(2),
    .pre_footer .container article:last-of-type {
        margin: 0 0 24px 0;
    }

    .pre_footer .container article:first-of-type:after,
    .pre_footer .container article:nth-of-type(2):after {
        height: 0;
        width: 0;
        opacity: 0;
    }

    .pre_footer_address {
        width: 200px;
    }

    .pre_footer_address:before {
        width: 30px;
    }

    .pre_footer_email:before,
    .pre_footer_phone:before {
        width: 22px;
    }
}

@media only screen and (max-width: 769px) {
    .catalog_second_block_links {
        margin: auto;
    }

    .cards_of_items {
        max-width: none;
        justify-content: space-around;
    }

    .catalog_first_block div:first-of-type {
        height: auto;
    }

    .catalog_first_block div:first-of-type h3 {
        padding: 14px 5px 7px 10px;
    }

    .catalog_first_block div:first-of-type ul {
        padding-left: 15px;
    }

    .catalog_second_block_head {
        flex-direction: row;
    }

    .articles_blog_section article {
        background: #fbfbfb;
        width: auto;
        height: 362px;
    }

}

@media only screen and (max-width: 431px) {
    .main_picture img[src='images/Flowers.png'] {
        width: 100%;
    }

    .main_picture {
        width: 410px;
    }

    .summer_collection .container a {
        width: 120px;
    }

    .summer_collection .container p {
        margin-bottom: 10px;
    }

    .summer_collection .container article {
        height: auto;
    }

    nav {
        display: none;
    }

    .login_link_index_text {
        display: none;
    }

    .welcome_info {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .welcome_info h1 {
        font-size: 58px;
        text-align: center;
        margin: 0;
    }

    .welcome_info h2 {
        text-align: center;
        margin: 0;
    }

    .welcome_info a {
        margin: 20px 0 0 0;
    }


    .catalog .container {
        flex-direction: column;
    }

    .catalog_first_block {
        width: auto;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .catalog_first_block div:first-of-type h3 {
        padding: 0
    }

    .catalog_first_block div:first-of-type ul {
        padding-left: 0;
    }

    .catalog_first_block img[src='images/banner_super_sale.png'] {
        width: auto;
        height: auto;
    }

    .catalog_first_block div:first-of-type {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 428px;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .catalog_second_block_head {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
    }

    .pre_footer .container {
        padding-top: 15px;
    }

    .pre_footer .container article {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .pre_footer .container article p, .pre_footer .container article h3 {
        text-align: center;
    }

    .summer_collection .container article div {
        margin-right: 15px;
    }

    .summer_collection .container h3, .summer_collection .container p {
        text-align: center;
    }


    .articles_blog_section article {
        background: #fbfbfb;
        width: auto;
        height: 430px;
    }

    .articles_blog_section article div {
        padding: 9px 11px 12px 15px;
        text-align: center;

    }

    .articles_blog_section article div a:after {
        margin-top: 1px;
    }

    .pre_footer .container div {
        max-width: none;
        margin-top: 37px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .pre_footer .container div p {
        text-align: center;
    }

    .contacts_part_pre_footer .container {
        flex-direction: column;
    }

    .pre_footer_address {
        width: auto;
    }

    .pre_footer_address:before {
        width: 17px;
    }

    .pre_footer_address:before,
    .pre_footer_email:before,
    .pre_footer_phone:before {
        margin-right: 6px;

    }

    .pre_footer_email:before, .pre_footer_phone:before {
        width: 19px;
    }

    footer .container {
        flex-wrap: wrap;
        padding: 15px;
    }

    .footer_social {
        margin-top: 15px;
    }
}
