@font-face {
    font-family: 'cera_round_pro_demoregular';
    src: url('../fonts/ceraroundprodemo-regular-webfont.eot');
    src: url('../fonts/ceraroundprodemo-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ceraroundprodemo-regular-webfont.woff2') format('woff2'),
    url('../fonts/ceraroundprodemo-regular-webfont.woff') format('woff'),
    url('../fonts/ceraroundprodemo-regular-webfont.ttf') format('truetype'),
    url('../fonts/ceraroundprodemo-regular-webfont.svg#cera_round_pro_demoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'cera_round_pro_demobold';
    src: url('../fonts/ceraroundprodemo-bold-webfont.eot');
    src: url('../fonts/ceraroundprodemo-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ceraroundprodemo-bold-webfont.woff2') format('woff2'),
    url('../fonts/ceraroundprodemo-bold-webfont.woff') format('woff'),
    url('../fonts/ceraroundprodemo-bold-webfont.ttf') format('truetype'),
    url('../fonts/ceraroundprodemo-bold-webfont.svg#cera_round_pro_demobold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'cera_round_pro_demoblack';
    src: url('../fonts/ceraroundprodemo-black-webfont.eot');
    src: url('../fonts/ceraroundprodemo-black-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ceraroundprodemo-black-webfont.woff2') format('woff2'),
    url('../fonts/ceraroundprodemo-black-webfont.woff') format('woff'),
    url('../fonts/ceraroundprodemo-black-webfont.ttf') format('truetype'),
    url('../fonts/ceraroundprodemo-black-webfont.svg#cera_round_pro_demoblack') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'cera_round_pro_demolight';
    src: url('../fonts/ceraroundprodemo-light-webfont.eot');
    src: url('../fonts/ceraroundprodemo-light-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ceraroundprodemo-light-webfont.woff2') format('woff2'),
    url('../fonts/ceraroundprodemo-light-webfont.woff') format('woff'),
    url('../fonts/ceraroundprodemo-light-webfont.ttf') format('truetype'),
    url('../fonts/ceraroundprodemo-light-webfont.svg#cera_round_pro_demolight') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'cera_round_pro_demomedium';
    src: url('../fonts/ceraroundprodemo-medium-webfont.eot');
    src: url('../fonts/ceraroundprodemo-medium-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ceraroundprodemo-medium-webfont.woff2') format('woff2'),
    url('../fonts/ceraroundprodemo-medium-webfont.woff') format('woff'),
    url('../fonts/ceraroundprodemo-medium-webfont.ttf') format('truetype'),
    url('../fonts/ceraroundprodemo-medium-webfont.svg#cera_round_pro_demomedium') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'cera_round_pro_demothin';
    src: url('../fonts/ceraroundprodemo-thin-webfont.eot');
    src: url('../fonts/ceraroundprodemo-thin-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ceraroundprodemo-thin-webfont.woff2') format('woff2'),
    url('../fonts/ceraroundprodemo-thin-webfont.woff') format('woff'),
    url('../fonts/ceraroundprodemo-thin-webfont.ttf') format('truetype'),
    url('../fonts/ceraroundprodemo-thin-webfont.svg#cera_round_pro_demothin') format('svg');
    font-weight: normal;
    font-style: normal;

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.input_registration {
    width: 300px;
    height: 40px;
    margin-top: 16px;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    padding: 12px 14px;

}

.input_registration::placeholder {
    font-family: "Cera Pro", sans-serif;
    font-size: 14px;
    line-height: 114%;
    color: #a5a5a5;
}

.registration_a {
    font-family: "Cera Pro", sans-serif;
    font-size: 13px;
    line-height: 123%;
    color: #727272;
    text-align: center;
    text-decoration: none;
}

.login_links {
    width: 300px;
    height: 40px;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.login_links:first-of-type {
    margin-top: 27px;
    margin-bottom: 15px;
}

.reg_title {
    font-family: "Cera Pro", sans-serif;
    font-size: 13px;
    line-height: 123%;
    color: #3d3d3d;
    margin-top: 36px;
    margin-bottom: 27px;
    margin-left: 100px;
}

.span_reg_title {
    color: #46a358;
}

.button_reg {
    background-color: #46a358;
    color: white;
    border-radius: 5px;
    width: 300px;
    height: 45px;
    margin-top: 41px;
    text-align: center;
}

.button_reg:hover {
    transition: 0.5s;
    background-color: #55B267;
}

.modal {
    max-width: 500px;
    margin: auto;
    padding: 52px 100px 40px;

}

.text_reg {
    margin-top: 40px;
    margin-bottom: 14px;
}

.chrome_logo {
    margin-right: 9px;
    height: 20px;
    width: 20px;
}

.facebook_logo {
    margin-right: 4px;
    height: 20px;
    width: 20px;
}

.container_header {
    max-width: 1200px;
    margin: auto;
    border-bottom: 0.3px solid rgba(70, 163, 88, 0.5);
    padding-bottom: 18px;

}

.login_link_index {
    border-radius: 6px;
    background: #46a358;
    text-decoration: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 8px 17px 7px;
    font-size: 16px;
    color: #fff;
    width: 100px;
    height: 35px;
    font-family: 'cera_round_pro_demomedium';
}

.login_link_index:before {
    background-image: url("../images/Logout.svg");
    display: inline-flex;
    width: 20px;
    height: 20px;
    content: "";
    margin: 7px 4px 9px 0;
    background-repeat: no-repeat;
}

header .container_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    padding-top: 31px;
}

header ul {
    display: flex;
    align-items: center;
}

.links_nav_ul * {
    font-family: 'cera_round_pro_demoregular';
    font-size: 16px;
    color: #3d3d3d;
    text-decoration: none;
    text-align: center;
}

.links_nav_ul li:first-of-type {
    min-width: 45px;
}

.links_nav_ul li:nth-of-type(2) {
    min-width: 38px;
}

.links_nav_ul li:nth-of-type(3) {
    min-width: 79px;
}

.links_nav_ul li:nth-of-type(4) {
    min-width: 42px;
}


.links_nav_ul *:hover {
    transition: 0.2s;
    color: #3d3d3d;
    font-family: 'cera_round_pro_demobold';
}


.links_nav_ul {
    gap: 50px;
}

main {
    max-width: 1200px;
    margin: 12px auto auto;
}

.first_section {
    display: flex;
    align-items: center;
    background: linear-gradient(135deg, rgba(245, 245, 245, 0.5) 0%, rgba(245, 245, 245, 0.5) 100%);
    justify-content: space-between;
}

.welcome_info {
    max-width: 693px;
    flex: 1;
}

.first_section_flowers {
    max-width: 507px;
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.first_section_flowers img {
    max-width: 100%;
    height: auto;
}

.planet_title {
    color: #46a358;
}

.welcome_info h1 {
    font-size: 70px;
    line-height: 100%;
    text-transform: uppercase;
    color: #3d3d3d;
    font-family: 'cera_round_pro_demoblack';
    margin-left: 40px;
}

.welcome_info h2 {
    margin-left: 43px;
}

.welcome_info h2:first-of-type {
    font-size: 14px;
    line-height: 114%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #3d3d3d;
    margin-bottom: 7px;
    font-family: 'cera_round_pro_demomedium';
}

.welcome_info h2:nth-of-type(2) {
    font-size: 14px;
    line-height: 171%;
    color: #727272;
    margin-top: 5px;
    font-family: 'cera_round_pro_demoregular';
}

.welcome_info a {
    font-size: 16px;
    line-height: 125%;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    border-radius: 6px;
    padding: 11px 27px 9px 26px;
    background: #46a358;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 44px 0 0 41px;
    font-family: 'cera_round_pro_demobold';
}

.catalog {
    display: flex;
    max-width: 1200px;
    margin-top: 26px;
    justify-content: space-between;
    gap: 50px;

}

.catalog_first_block {
    width: 310px;
    height: 1244px;
}

.catalog_first_block div:first-of-type {
    background: #fbfbfb;
    height: 774px;
}

.catalog_first_block div:first-of-type h3 {
    padding: 14px 0 7px 18px;
    font-family: 'cera_round_pro_demobold';
    font-size: 18px;
    line-height: 89%;
    color: #3d3d3d;

}

.catalog_first_block div:first-of-type ul {
    padding-left: 30px;
}

.catalog_first_block div:first-of-type ul * {
    font-family: 'cera_round_pro_demoregular';
    color: #3d3d3d;
    text-decoration: none;
    line-height: 267%;
}

.catalog_first_block div:first-of-type ul *:hover {
    font-family: 'cera_round_pro_demobold';
    color: #46a358;
}

.catalog_second_block {
    max-width: 840px;
    display: flex;
    flex-wrap: wrap;
}

.catalog_second_block_head {
    width: 890px;
    height: 23px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.catalog_second_block_head ul {
    display: flex;
    list-style: none;
    gap: 38px;
}

.catalog_second_block_head ul li {
    min-width: 88px;
    text-align: center;
}

.catalog_second_block_head ul li * {
    text-decoration: none;
    font-family: 'cera_round_pro_demoregular';
    font-size: 15px;
    line-height: 107%;
    color: #3d3d3d;
}

.catalog_second_block_head ul li *:hover {
    font-family: 'cera_round_pro_demobold';
    font-size: 15px;
    line-height: 107%;
    color: #46a358;
    padding-bottom: 7px;
    border-bottom: solid 2px #46a358;
}


.catalog_second_block_head p {
    font-family: 'cera_round_pro_demoregular';
    font-size: 15px;
    line-height: 107%;
    color: #3d3d3d;
    display: inline-flex;
    align-items: center;
}

.catalog_second_block_head p:after {
    background-image: url("../images/Arrow_Down_2.svg");
    display: inline-flex;
    width: 16px;
    height: 16px;
    content: "";
    margin-left: 5px;
    background-repeat: no-repeat;
}

.cards_of_items {
    display: flex;
    flex-wrap: wrap;
    gap: 33px;
    margin-top: 31px;
}

.cards_of_items article a {
    text-decoration: none;
}

.cards_of_items article {
    width: 258px;
    height: 350px;
    border-top: 1px solid transparent;
}

.cards_of_items article:hover {
    border-top: 1px solid #46a358;;
}

.cards_of_items article div {
    height: 300px;
    background: #fbfbfb;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cards_of_items article p:first-of-type {
    font-family: 'cera_round_pro_demoregular';
    font-size: 16px;
    line-height: 100%;
    color: #3d3d3d;
    margin: 12px 0 6px 0;
}

.cards_of_items article img {
    width: 250px;
    height: 250px;
}

.cards_of_items article img[src='images/beach_spider_lily.png'] {
    width: 224px;
    height: 286px;
}

.cards_of_items article p:nth-of-type(2) {
    font-family: 'cera_round_pro_demobold';
    font-size: 18px;
    line-height: 89%;
    color: #46a358;
}

.catalog_second_block_links {
    margin-left: auto;
}

.catalog_second_block_links ul {
    display: flex;
    justify-content: space-between;
    height: 35px;
    align-items: center;
    gap: 10px;
    margin: 90px 0 94px 0;
}

.catalog_second_block_links li {
    width: 35px;
    height: 35px;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.catalog_second_block_links li:hover {
    border-radius: 4px;
    width: 35px;
    height: 35px;
    background: #46a358;
}

.catalog_second_block_links li:last-of-type a {
    background-image: url("../images/Arrow_Right_2.svg");
    display: inline-flex;
    content: "";
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
    padding: 9px 8px 8px 8px;
    width: 18px;
    height: 18px;
}

.catalog_second_block_links li:last-of-type:hover a {
    background-image: url("../images/Arrow_Right_2_white.svg");
    display: inline-flex;
    content: "";
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
    padding: 9px 8px 8px 8px;
    width: 18px;
    height: 18px;
}

.catalog_second_block_links li * {
    font-family: 'cera_round_pro_demolight';
    font-size: 18px;
    line-height: 89%;
    color: #3d3d3d;
    text-decoration: none;
}

.catalog_second_block_links li:hover * {
    font-family: 'cera_round_pro_demobold';
    font-size: 18px;
    line-height: 89%;
    color: #fff;
}


.container_summer_collection_section {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    gap: 28px;
}

.container_summer_collection_section article {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 586px;
    text-align: right;
    background: #fbfbfb;
    height: 250px;
}

.container_summer_collection_section article div {
    margin-right: 30px;
}

.container_summer_collection_section h3 {
    font-family: 'cera_round_pro_demoblack';
    font-size: 18px;
    line-height: 133%;
    text-transform: uppercase;
    color: #3d3d3d;
}

.container_summer_collection_section p {
    font-family: 'cera_round_pro_demoregular';
    font-size: 14px;
    line-height: 171%;
    text-align: right;
    color: #727272;
    margin: 9px 0 25px 0;
}

.container_summer_collection_section a {
    border-radius: 6px;
    width: 140px;
    height: 40px;
    background: #46a358;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-family: 'cera_round_pro_demomedium';
    font-size: 14px;
    line-height: 143%;
    color: #fff;
}

.container_summer_collection_section a:after {
    background-image: url("../images/Arrow_Right.svg");
    display: inline-flex;
    width: 18px;
    height: 18px;
    content: "";
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    margin-left: 2px;
}

.container_summer_collection_section article img {
    position: relative;
    top: -45px;
}

.container_blog_section {
    margin: 138px auto auto;
    max-width: 1200px;
}
.blog{
    margin-bottom: 100px;
}
.container_blog_section h2:first-of-type {
    text-align: center;
    font-family: 'cera_round_pro_demobold';
    font-size: 30px;
    line-height: 53%;
    text-align: center;
    color: #3d3d3d;

}

.text_our_blog_posts {
    text-align: center;
    font-family: 'cera_round_pro_demoregular';
    font-size: 14px;
    line-height: 171%;
    text-align: center;
    color: #727272;
    margin: 15px 0 35px 0;
}

.articles_blog_section {
    display: flex;
    gap: 44px;
}

.articles_blog_section article {
    background: #fbfbfb;
}

.articles_blog_section article div {
    padding: 9px 11px 12px 15px;
}

.articles_blog_section article div p:first-of-type {
    font-family: 'cera_round_pro_demomedium';
    font-size: 14px;
    line-height: 114%;
    color: #46a358;
}

.articles_blog_section article div h3:first-of-type {
    font-family: 'cera_round_pro_demobold';
    font-size: 20px;
    line-height: 130%;
    color: #3d3d3d;
    margin: 4px 0;
}

.articles_blog_section article div p:nth-of-type(2) {
    font-family: 'cera_round_pro_demoregular';
    font-size: 14px;
    line-height: 157%;
    color: #727272;
}

.articles_blog_section article div a {
    text-decoration: none;
    font-family: 'cera_round_pro_demomedium';
    font-size: 14px;
    line-height: 114%;
    color: #3d3d3d;
    margin-top: 9px;
}

.articles_blog_section article div a:after {
    background-image: url("../images/Arrow_right_straight.svg");
    display: inline-flex;
    width: 16px;
    height: 16px;
    content: "";
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    margin-left: 2px;
    position: absolute;
    margin-top: 2px;
}